@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
}

h2{
    text-align: center;
}

#signup-form-element{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
}