body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#animation-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

p {
    margin: 20px 0;
    font-size: 13px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: rgb(12, 78, 12);
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: black;
}
h2 span{
    color: orange;
}