@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");



.artists,
.artistEnthusiast {
  padding: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

p {
  height: 150px;
  text-align: center;
  align-content: center;
  border: 1px solid rgb(218, 218, 218);
  padding: 1rem;
}

h1 {
  text-align: left;
  width: 400px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.roles {
  width: 400px;
  display: flex;
}

@media only screen and (max-width: 500px) {
  .roles {
    width: 90%;
  }
  h1 {
    width: 90%;
  }
}

/* Dorsa made changes on the above CSS */

/* Additional CSS by Andrei  */ 
body{
  min-width: 400px;
}


p{
  border: none;
}

.container h1{
  margin-bottom: 0.5rem;
}

.container > p{
  text-align: left;
  height: inherit;
  padding: 0;
  margin: 0;
}

.container > p span{
  font-weight: 900;
  color: #F7804A;
}

.roles{
  gap: 1rem;
  margin-top: 40px;
}

.roles a:hover p{
  background-color: #B7B7B7;
}

.artists, .artistEnthusiast{
  padding: 0;
}

.artists h2, .artistEnthusiast h2{
  margin: 0;
}

.artists p, .artistEnthusiast p{
  border: 1px solid rgb(218, 218, 218);
  margin: 0;
  margin-top: 0.5rem;
}

