/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  line-height: 1.4;
  background-color: #f4f4f4;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Header section =========================================== */
.header-mobile-nav-elements li {
  list-style: none;
}

.header-mobile-main-nav {
  display: none;
}

.mobile_navigation_reveal .header-mobile-main-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.7rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  /* margin-top: 3rem; */
  z-index: 10;
}
/* .mobile_navigation_reveal main {
  background-color: white;
} */

.black {
  color: black;
  font-size: 1.4rem;
}

/* latest Changes */
#nav-mobile-logo{
  max-width: 50px;
}


#mobile-nav-cross{
  color: black;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10000;
}


.header-mobile-nav-elements {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  width: 100%; /* Set the width to 100% */
}

.header-mobile-nav-elements li a {
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  background-color: #f4f4f4; /* Initial background color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  position: relative;
  overflow: hidden; /* To hide the underline animation overflow */
}

.header-mobile-nav-elements li a:hover {
  background-color: black; /* Change to your preferred hover background color */
  color: #ffffff; /* Change to your preferred text color */
}

.header-mobile-nav-elements li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #f7804a; /* Underline color */
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.header-mobile-nav-elements li a:hover::after {
  transform: translateX(0);
  transition: transform 0.3s ease;
  animation: underlineAnimation 2s infinite;
}

@keyframes underlineAnimation {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}


/* latest Changes  ended*/

.header-main-nav {
  display: none;
}

.desktop-header > img {
  display: none;
}

.mobile-header {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

header .logo-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-name img {
  max-width: 46px;
  margin-right: 0.4rem;
}

.logo-name .orange {
  color: #f7804a;
  font-size: 1.4rem;
}

/* Mobile Navigation */
.desktop-navigation {
  display: none;
}
.mobile-navigation {
  display: flex;
  align-items: center;
}

.mobile-navigation .search-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.mobile-navigation input {
  padding: 0.6rem 2rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 200px; /* Fixed size to avoid changing with page size */
  transition: width 0.3s ease-in-out; /* Add transition for smooth width change */
}

.mobile-navigation .fa-search {
  position: absolute;
  left: 10px;
  color: #333333;
}

.mobile-navigation .fa-bars {
  font-weight: bolder;
  color: #333333;
  font-size: 1.8rem;
  margin-left: 1rem;
}

/* Focus effect for mobile search input field */
.mobile-navigation #search-field:focus {
  width: 230px; /* Increased width on focus */
}

/* .mobile-footer */
.mobile-footer .logo-name {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.mobile-footer {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
}

.footer-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-basis: 100%;
  margin-bottom: 1rem;
}

.mobile-footer .social-media-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.mobile-footer .social-media-icons a {
  color: white;
  background-color: #333333;
  padding: 0.43rem;
  border-radius: 5px;
}

.mobile-footer .social-media-icons h2 {
  flex-basis: 100%;
}

.tablet-footer {
  display: none;
}

/* footer ends */

/* search Icon */
.desktop-header .desktop-navigation {
  position: relative;
}

.desktop-header .desktop-navigation .search-container {
  position: relative;
  display: inline-block;
}

.desktop-header .desktop-navigation input {
  padding: 8px 35px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 200px;
  transition: width 0.3s ease-in-out;
}

.desktop-header .desktop-navigation .fa-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #333333;
}

.desktop-header .desktop-navigation #search-field:focus {
  width: 250px;
}

/* artist auction section */
.artist-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

/* art on demand section */
.art-on-demand-ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

/* Profile Drop down */
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50px;
}
/* Footer */
.mobile-footer {
  width: 100%;
  background-color: #ffffff;
}

@media only screen and (min-width: 700px) {
  .desktop-header img {
    max-width: 50px;
  }

  .mobile-header {
    display: none;
  }

  .desktop-header > img {
    display: block;
  }

  /* Header Tablet */
  .desktop-header {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 0.5rem 0;
    min-height: 83px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .desktop-header img {
    margin-left: 2rem;
  }

  .desktop-header .header-main-nav {
    display: flex;
    flex-basis: 93%;
  }

  .desktop-header .header-nav-elements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 100%;
  }

  .desktop-header .header-nav-elements li {
    list-style: none;
    position: relative;
  }

  .desktop-header .header-nav-elements li a {
    text-decoration: none;
    color: #333333;
  }

  /* Footer starts */
  .tablet-footer .logo-name {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .tablet-footer {
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .tablet-footer .logo-name {
    flex-basis: 100vw;
  }

  .tablet-footer .footer-caption {
    flex-basis: 100%;
  }

  .tablet-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-basis: 100%;
    margin-bottom: 1rem;
  }

  .tablet-footer .social-media-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .tablet-footer .social-media-icons a {
    color: #333333;
    background-color: #f4f4f4;
    padding: 0.43rem;
    border-radius: 5px;
  }

  .tablet-footer .social-media-icons h2 {
    flex-basis: 100%;
  }

  .social-media-icons i {
    color: #f7804a;
  }

  .tablet-footer .logo-name .black,
  .tablet-footer .footer-nav,
  .tablet-footer p {
    color: #333333;
    text-align: center;
    margin-top: 1rem;
  }

  /* desktop navigation */
  .desktop-navigation {
    display: inline-block;
  }

  /* dropdown for artist */
  .added_drpdown_list .artist-dropdown {
    display: contents;
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
    min-width: 200px;
    top: 50px;
  }

  /* dropdown for artEnthusiast */
  .artEnthu_drpdown_list .art-on-demand-ul {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
    min-width: 280px;
    top: 53px;
  }

  .profile_drpdown_list .dropdown-menu {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    min-width: 142px;
  }

  /* Hide dropdowns with transition */
  .added_drpdown_list .artist-dropdown,
  .artEnthu_drpdown_list .art-on-demand-ul,
  .profile_drpdown_list .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }

  body:not(.added_drpdown_list) .artist-dropdown,
  body:not(.artEnthu_drpdown_list) .art-on-demand-ul,
  body:not(.profile_drpdown_list) .dropdown-menu {
    opacity: 0;
    visibility: hidden;
  }

  .tablet-footer {
    width: 100%;
    bottom: 0;
  }
}
