@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



main {
    padding: 1rem;
}

#auctionsWrapper {
    padding: 1rem;
}

#auctions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

article h2 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: #333;
}

article p {
    margin: 0.5rem 0;
    color: #555;
}

article strong {
    color: #333;
}
#auctions article img {
    height: 250px;
}
img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.grid-view #auctions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.list-view #auctions {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.list-view article {
   display: grid;
   grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    align-items: center;
}

.bid-button {
    display: block;
    margin: auto;
}