@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


h2 {
    text-align: left;
    width: 400px;
}


form input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px;
    font-size: 22px;
    border: 1px solid #d8d8d8;
    margin-top: 3px;
}

form .form-group {
    margin-top: 15px;
}


#link-Login-button-group {
    text-align: center;
    margin-top: 30px;
}

#link-Login-button-group label {

    opacity: 0.5;
}

#link-Login-button-group a {
    color: #000;
    font-weight: 600;
    text-decoration: none;

}

#submit {
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
    border: none;
    width: 100%;
    padding: 20px;
    font-size: 18px;
}

#google-signin-button {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
    border: 1px solid #bebebe;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#google-signin-button::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg id='SvgjsSvg1001' width='256' height='256' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs'%3E%3Cdefs id='SvgjsDefs1002'%3E%3C/defs%3E%3Cg id='SvgjsG1008'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 102.018 104.1' width='256' height='256'%3E%3Cpath fill='%234285f4' d='M102.018 53.204a44.6 44.6 0 0 0-1.1-10.641H52.05v19.316h28.685a25.436 25.436 0 0 1-10.641 16.887l-.1.647 15.452 11.97 1.07.107c9.831-9.08 15.5-22.44 15.5-38.286' data-name='Path 168' class='color4285f4 svgShape'%3E%3C/path%3E%3Cpath fill='%2334a853' d='M52.05 104.1c14.053 0 25.851-4.627 34.469-12.608L70.094 78.768c-4.395 3.066-10.294 5.206-18.044 5.206a31.335 31.335 0 0 1-29.611-21.63l-.61.052L5.762 74.83l-.21.584a52.012 52.012 0 0 0 46.5 28.686' data-name='Path 169' class='color34a853 svgShape'%3E%3C/path%3E%3Cpath fill='%23fbbc05' d='M22.439 62.344A32.044 32.044 0 0 1 20.7 52.05a33.672 33.672 0 0 1 1.677-10.294l-.029-.69L6.084 28.432l-.532.253a51.94 51.94 0 0 0 0 46.729l16.887-13.07' data-name='Path 170' class='colorfbbc05 svgShape'%3E%3C/path%3E%3Cpath fill='%23eb4335' d='M52.05 20.126a28.848 28.848 0 0 1 20.126 7.75l14.69-14.343A50.008 50.008 0 0 0 52.05 0a52.012 52.012 0 0 0-46.5 28.685l16.831 13.071a31.463 31.463 0 0 1 29.669-21.63' data-name='Path 171' class='coloreb4335 svgShape'%3E%3C/path%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    margin-right: 10px;
}

#password-group {
    position: relative;
}

#password-group::before {
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg id='SvgjsSvg1019' width='256' height='256' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs'%3E%3Cdefs id='SvgjsDefs1020'%3E%3C/defs%3E%3Cg id='SvgjsG1021'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='256' height='256'%3E%3Cg transform='translate(-4741 -1)'%3E%3Cpath d='m 4997,197 c -32.9594,0 -60,27.04062 -60,60 0,32.95938 27.0406,60 60,60 32.9594,0 60,-27.04062 60,-60 0,-32.95938 -27.0406,-60 -60,-60 z m 0,30 c 16.7462,0 30,13.2538 30,30 0,16.7462 -13.2538,30 -30,30 -16.7462,0 -30,-13.2538 -30,-30 0,-16.7462 13.2538,-30 30,-30 z' color='%23000' style='-inkscape-stroke:none'%3E%3C/path%3E%3Cpath d='m 4997,110.91211 c -56.2988,0 -103.9998,35.84618 -137.918,69.9707 -33.9182,34.12453 -54.8613,68.26172 -54.8613,68.26172 l -4.8281,7.85547 4.8281,7.85547 c 0,0 20.9431,34.13719 54.8613,68.26172 33.9182,34.12452 81.6192,69.9707 137.918,69.9707 56.2988,0 103.9998,-35.84618 137.918,-69.9707 33.9182,-34.12453 54.8613,-68.26172 54.8613,-68.26172 l 4.8281,-7.85547 -4.8281,-7.85547 c 0,0 -20.9431,-34.13719 -54.8613,-68.26172 -33.9182,-34.12452 -81.6192,-69.9707 -137.918,-69.9707 z m 0,30 c 43.1124,0 85.4117,29.70025 116.6406,61.11914 22.0738,22.20804 37.764,43.86006 45.3301,54.96875 -7.5661,11.10869 -23.2563,32.76071 -45.3301,54.96875 -31.2289,31.41889 -73.5282,61.11914 -116.6406,61.11914 -43.1124,0 -85.4117,-29.70025 -116.6406,-61.11914 -22.0738,-22.20804 -37.764,-43.86006 -45.3301,-54.96875 7.5661,-11.10869 23.2563,-32.76071 45.3301,-54.96875 31.2289,-31.41889 73.5282,-61.11914 116.6406,-61.11914 z' color='%23000' style='-inkscape-stroke:none'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    margin-right: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


@media only screen and (max-width: 500px) {
    form {
        width: 90%;
    }

    h2 {
        width: 90%;
    }

}


a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 1rem 2rem;
    margin-bottom: 20px;
}

#signup-form-element {
    margin: 2rem;
}

#signup-form-element h2 {
    margin-bottom: 0.5rem;
}

#signup-form-element p {
    margin: 0;
    margin-bottom: 40px;
}

#signup-form-element label {
    font-weight: bold;
}

#google-signin-button-group {
    margin-top: 40px;
    margin-bottom: 1rem;

    text-align: center;
}

#google-signin-button-group label {
    font-weight: inherit;
}

button#submit {
    font-size: 16px;
}

button#submit:hover {
    cursor: pointer;
    background-color: #B7B7B7;
}

#password-group::before {
    bottom: 35px;
}

button#google-signin-button:hover {
    cursor: pointer;
    background-color: #B7B7B7;
}