@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
}

h2{
    text-align: center;
    color: black;
}

#login-form{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-items: center;
}

/* *************** ADDITIONAL CSS ******************* */
body{
    min-width: 400px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: black;
    text-decoration: none;
    font-weight: 900;
}

h2{
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: left;
}

label{
    font-weight: 900;
}

#login-form{
    width: 356px;
    max-width: 600px;
    margin: 2rem;
    padding: 2rem;
    backdrop-filter: none;
    background-color: white;
    color: black;
    /* border-radius: 10px; */
    box-shadow: none;

    display: block;
}

#login-form p{
    margin: 0;
    margin-bottom: 40px;
}

input[type="email"], input[type="password"], button[type="submit"]{
    width: 100%;    
    box-sizing: border-box;
    padding: 1rem 2rem;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
}

input[type="password"]{
    margin-bottom: 3rem;
}

button[type="submit"]{
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover{
    background-color: #B7B7B7;
}

.form-group{
    margin-top: 40px;
    text-align: center;
}

form {
    backdrop-filter: blur(100px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5rem;
    border-radius: 50px;
}

.form-group label{
    font-weight: 400;
}